# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*.local
.env*.production

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.turbo
/.idea/git_toolbox_blame.xml
/.idea/git_toolbox_prj.xml
/.idea/modules.xml
/.idea/prettier.xml
/.idea/site.iml
/.idea/vcs.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
