.box {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  gap: 4vmin;
}
.clickedBox {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  gap: 4vmin;
}
.closedText,
.defaultText {
  display: none;
  opacity: 0;
}

.openedText {
  position: absolute;
  top: 100px;
  left: 550px;
  animation: showText 1s forwards !important;
}

.opened:not(.noImage) {
  animation: expandImage 1s forwards;
}
.noImage.opened {
  animation: expandNoImage 1s forwards;
}
.closed {
  display: none;
  object-fit: cover;
  object-position: center;
  width: 40vw;
  height: 56vh;
}
.default {
  opacity: 1;
  object-fit: cover;
  object-position: 85%;
  width: 20vw;
  height: 56vh;
}

@keyframes expandImage {
  0% {
    object-fit: cover;
    object-position: 85%;
    width: 20vw;
    height: 56vh;
  }
  50% {
    object-fit: cover;
    object-position: 85%;
    width: 40vw;
    height: 95vh;
    translate: 10%;
  }
  100% {
    object-fit: cover;
    object-position: 0;
    width: 40vw;
    height: 95vh;
    translate: -29vw;
    cursor: initial;
  }
}
@keyframes expandNoImage {
  0% {
    object-fit: contain;
    width: 20vw;
    height: 56vh;
  }
  50% {
    object-fit: contain;
    width: 40vw;
    height: 95vh;
    translate: 10%;
  }
  100% {
    object-fit: contain;
    width: 40vw;
    height: 95vh;
    translate: -29vw;
    cursor: initial;
  }
}
@keyframes showText {
  0% {
    opacity: 0;
    display: none;
  }
  55% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
