@tailwind base;
@tailwind components;
@tailwind utilities;

html body {
  position: relative;
  width: 100svw;
  height: 100svh;
  overflow-x: hidden;
}

.link {
  position: relative;
}

.link::before {
  position: absolute;
  bottom: 0;
  transition: all 0.8s ease;
  border-bottom: 1px solid white;
  width: 0;
  content: "";
}

.link:hover::before {
  width: 3.3em;
}

* {
  transition: all 0.3s;
}

li {
  list-style-type: "- ";
}

.cursor {
  cursor: url(/public/cursor.png), auto;
}

.LazyLoad {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.is-visible {
  opacity: 1;
}
