@keyframes boot {
  0% {
    box-shadow: 0px 0px 4px #ffffff;
  }

  50% {
    box-shadow: 0px 0px 100px #ffffff99;
  }
  100% {
    box-shadow: 0px 0px 90px #ffffff33;
  }
}
@keyframes bootIcon1 {
  0% {
    box-shadow: 0px 0px 10px white;
    border-color: #ffffff44;
  }
  50% {
    box-shadow: 0px 0px 30px white;
  }
  100% {
    box-shadow: 0px 0px 15px white;
  }
}
@keyframes bootIcon2 {
  0% {
    width: 5vw;
    height: 10vh;
  }
  100% {
    width: 3vw;
    height: 2vh;
    border-color: transparent;
  }
}

@keyframes bootIdle {
  0% {
    box-shadow: 0px 0px 10px white;
    border-color: #ffffff44;
  }
  50% {
    box-shadow: 0px 0px 30px white;
  }
  100% {
    box-shadow: 0px 0px 15px white;
  }
}

.boot {
  animation: boot 1.5s ease infinite;
}
.bootIcon1 {
  animation: bootIcon1 1.5s ease infinite;
}
.bootIcon2 {
  animation: bootIcon2 0.5s forwards;
}

.idle {
  animation: bootIdle 1.5s ease infinite;
}
