.box {
  height: 80svh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  gap: 4vmin;
}

.clickedBox {
  height: 79svh;
  width: 100vw;
  justify-content: center;
  gap: 4vmin;
}

.closedText,
.defaultText {
  display: none !important;
  opacity: 0;
}

.openedText {
  animation: showText 1s forwards !important;
}

.opened:not(.noImage) {
  animation: expandImage 1s forwards;
}

.noImage.opened {
  animation: expandNoImage 1s forwards;
}

.closed {
  display: none;
  object-fit: cover;
  object-position: center;
  width: 40vw;
  height: 56vh;
}

.default {
  opacity: 1;
  object-fit: cover;
  object-position: 85%;
  width: 20vw;
  height: 56vh;
}

@keyframes expandImage {
  0% {
    object-fit: cover;
    object-position: 85%;
    width: 20vw;
    height: 56vh;
    position: absolute;
    left: 50%;
    scale: 0.5;
    top: 50%;
    translate: -50% -53%;
  }
  50% {
    object-fit: cover;
    object-position: 85%;
    width: 20vw;
    height: 56vh;
    scale: 1.4;
    left: 50%;
    top: 50%;
    translate: -50% -53%;
  }
  100% {
    object-fit: cover;
    object-position: 0;
    width: 20vw;
    height: 56vh;
    scale: 1.4;
    cursor: initial;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -215% -53%;
  }
}

@keyframes expandNoImage {
  0% {
    object-fit: contain;
    width: 20vw;
    scale: 0.5;
    height: 56vh;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -53%;
  }
  50% {
    object-fit: contain;
    width: 20vw;
    scale: 1.4;
    height: 56vh;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -53%;
  }
  100% {
    object-fit: contain;
    width: 20vw;
    height: 56vh;
    scale: 1.4;
    cursor: initial;
    position: absolute;

    left: 50%;
    top: 50%;
    translate: -215% -53%;
  }
}

@keyframes showText {
  0% {
    opacity: 0;
    display: none;
  }
  55% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
