.closedText,
.defaultText {
  display: none !important;
  opacity: 0;
}

.openedText {
  animation: showText 1s forwards !important;
}

.opened:not(.noImage) {
  animation: expandImage 1s forwards;
}

.noImage.opened {
  animation: expandNoImage 1s forwards;
}

.closed {
  display: none;
  width: 40svw;
  height: 56svh;
  object-fit: cover;
  object-position: center;
}

@keyframes expandImage {
  0% {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -53%;
    scale: 0.5;
    width: 20svw;
    height: 56svh;
    object-fit: cover;
    object-position: 85%;
  }
  50% {
    top: 50%;
    left: 50%;
    translate: -50% -53%;
    scale: 1.4;
    width: 20svw;
    height: 56svh;
    object-fit: cover;
    object-position: 85%;
  }
  100% {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -215% -53%;
    scale: 1.4;
    cursor: initial;
    width: 20svw;
    height: 56svh;
    object-fit: cover;
    object-position: 0;
  }
}

@keyframes expandNoImage {
  0% {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -53%;
    scale: 0.5;
    width: 20svw;
    height: 56svh;
    object-fit: contain;
  }
  50% {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -53%;
    scale: 1.4;
    width: 20svw;
    height: 56svh;
    object-fit: contain;
  }
  100% {
    position: absolute;
    top: 50%;

    left: 50%;
    translate: -215% -53%;
    scale: 1.4;
    cursor: initial;
    width: 20svw;
    height: 56svh;
    object-fit: contain;
  }
}

@keyframes showText {
  0% {
    display: none;
    opacity: 0;
  }
  55% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
