@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@400;500;700;800&display=swap");

body {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}

.link {
  position: relative;
}

.link:hover::before {
  position: absolute;
  bottom: 0;
  animation: link 0.8s ease forwards;
  border-bottom: 1px solid white;
  width: 0;
  content: "";
}

* {
  transition: all 0.3s;
  box-sizing: border-box;
}

li {
  list-style-type: "- ";
}

.cursor {
  cursor: url(/public/cursor.png), auto;
}

.LazyLoad {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.is-visible {
  opacity: 1;
}

@keyframes link {
  0% {
    width: 0;
  }
  100% {
    width: 3.3em;
  }
}
