.link {
  position: relative;
}

.link:hover::before {
  animation: link 0.8s ease forwards;
  border-bottom: 1px solid white;
  position: absolute;
  border-width: 2px;
  content: "";
  bottom: 0px;
  width: 0px;
}

* {
  box-sizing: border-box;
  transition: all 0.3s;
}

li {
  list-style-type: "- ";
}

.cursor {
  cursor: url(../public/cursor.png), auto;
}

.LazyLoad {
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.is-visible {
  opacity: 1;
}

@keyframes link {
  0% {
    width: 0em;
  }
  100% {
    width: 3.7em;
  }
}
