@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@400;500;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html body {
  height: 100svh;
  width: 100svw;
  position: relative;
  overflow-x: hidden;
}

.link {
  position: relative;
}
.link::before {
  border-bottom: 1px solid white;
  position: absolute;
  content: "";
  bottom: 0;
  width: 0;
  transition: all .8s ease;
}

.link:hover::before {
  width: 3.3em;

}

* {
  transition: all 0.3s;
}

li {
  list-style-type: "- ";
}

.cursor {
  cursor: url(/public/cursor.png), auto;
}

.LazyLoad {
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.is-visible {
  opacity: 1;
}